/* TABLE 1 */
table#table1 {
  width: 50%;    
}
table#table1 th {
  padding: 5px;
}
table#table1 td {
  padding: 5px;
}

/* TABLE 2 */
table#table2 {
  width: 35%;
}
table#table2 th {
  padding: 1px;
}
table#table2 td {
  padding: 1px;
}

/* TABLE 3 */
table#table3 {
  width: 50%;    
  border: 1px solid black
}
table#table3 th {
  padding: 1px;
}
table#table3 td {
  padding: 1px;
}

/* TABLE 4 */
table#table4 {
  width: 70%;    
  border: 1px solid black
}
table#table4 th {
  padding: 1px;
}
table#table4 td {
  padding: 1px;
}

/* TABLE 5 */
table#table5 {
  width: 70%;    
}
table#table5 th {
  padding: 5px;
}
table#table5 td {
  padding: 5px;
}
